--extra-index-url https://download.pytorch.org/whl/cpu
python-documentcloud==4.8.1
requests
defusedxml
h5py
huggingface-hub
importlib-metadata
langdetect
matplotlib
mplcursors==0.5.2
numpy<2
opencv-python
Pillow
pyclipper
pypdfium2
rapidfuzz
scipy
shapely
tqdm
unidecode
weasyprint
torch==2.2.2
torchvision==0.17.2
python-doctr[torch]
